.userDiv {
  display: flex;
  flex-flow: column nowrap;
  flex: 2 1 260px;
  gap: 20px;
  background-color: rgb(149, 0, 255);
  padding: 0px 70px;
  align-items: center;
  overflow: auto;
}
.users {
  padding: 20px;
  background-color: rgb(113, 165, 248);
  flex-basis: 300px;
}
