.userDiv {
  display: flex;
  flex-flow: column nowrap;
  flex: 2 1 260px;
  gap: 20px;
  background-color: cyan;
  padding: 0px 70px;
  align-items: center;
  overflow: auto;
}
.users {
  padding: 20px;
  background-color: pink;
  flex-basis: 300px;
}
